* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 3em;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
    justify-content: space-between;
    padding-bottom: 1em;;
}

ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
}

ul li a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}

main *{
    padding-top: 1em;
}