@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

html {
    font: 16px/1.5 "Raleway", sans-serif;
    width: 90%;
    margin: 0 auto;
}

.heading {
    font-family: "Great Vibes", cursive;
    line-height: 1.2;
    font-weight: bold;
}