header {
    padding: 15px;
    background-color: #f2dcbb;
    width: 480px;
}

main {
    padding: 5px;
    width: 480px;
}

footer {
    padding: 15px;
    background-color: #f2dcbb;
    width: 480px;
}

body {
    background-color: #f9f7cf
}