body {
    padding: 40px;
    width: 90%;
    margin: 0 auto;
}

main {
    display: block;
    max-width: 75ch;
}

aside {
    position: absolute;
    right: 50px;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

div {
    width: 12rem;
    display: inline-block;
    background-color: #fff;
    border: 0.4rem solid #000;
    padding: 1rem;
    vertical-align: middle;
    margin: 0.5rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

img:nth-of-type(1) {
    position: relative;
}

body header {
    position: relative;
}

body header p{
    font: 3em/1.2 "Georgia", "serif";
    text-transform: uppercase;
    margin: 0;
    display: block;
    padding-right: 20px;
}

body header nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

body header nav li {
    display: inline-block;
    margin-right: 25px;
}

body header nav li a {
    color: green;
    text-decoration: none;
}